body {
	margin: 0;
	background: #F8F8F8;
	font-family: Sans-serif;
}

html {
    font-size: 20px;
    line-height: 1.5em;
}

header {
    position: relative;
}

header > img {
	position: absolute;
    border-radius:50%;
	left: 25px;
	top: 15px;
	
}
h1 {
	margin: 0;
    color: white;
	background-color: black;  
    text-align: center;
	padding: 35px 0px;
	width: 100%;
}

ul {
    list-style: none;
	
	top: 15px;
	position: absolute;
	margin-left:80%
}

li {
	
	display: inline;
    line-height: 40px;
}

nav a {
	color: white;
}

#description {
	margin-top: 40px;
}

#description img {
    float: left;
	width: 388px;
	height: 452px;
	padding: 0px 20px 35px 120px;
}

#description h2 {
    position: relative;
	top: 20px;
	margin-bottom: 40px;
}

.description-p1 {
	margin-right: 140px;
}

.description-p2 {
	clear: both;
	margin: 0px 140px 0px 120px;
}

#relationship {
    background-color: white;
	margin-top: 60px;
}

#relationship img {
    float: right;
	width: 388px;
	height: 452px;
	padding: 0px 120px 35px 20px;
}

#relationship h2 {
	position: relative;
	margin-bottom: 90px;
	left: 120px;
	top: 60px; 
}

.relationship-p1 {
	margin-left: 120px;
}

.relationship-p2 {
	margin: 0px 120px;
}

footer {
    clear: both;
	background-color: #B8B8B8; 
    text-align: center;
	padding: 30px 0px;
	font-family: Sans-serif;
	bottom: 0px;
	width: 100%;
}